@using Team_Turtle.Models;
@model SignUpViewModel

@{
	ViewData["Title"] = "Sign_Up Page";
}

<h1 class="display-4 m-5 text-center">Join Us and Study With Condors!</h1>
<form class="row g-2 m-5" asp-controller="Form" asp-action="CreateNewAccount" method="post"
	  enctype="application/x-www-form-urlencoded">

	<div class="col-md-6 form-group">
		<label asp-for="Student.Email" class="form-label">Email</label>
		<input asp-for="Student.Email" type="email" class="form-control" id="Email">
		<span asp-validation-for="Student.Email" class="text-danger"></span>
	</div>
	<div class="col-md-6 form-group">
		<label asp-for="Student.Password" class="form-label">Password</label>
		<input asp-for="Student.Password" type="password" class="form-control" id="Password">
		<span asp-validation-for="Student.Password" class="text-danger"></span>
	</div>
	<div class="col-12 form-group">
		<label asp-for="Student.Name" class="form-label">Name</label>
		<input asp-for="Student.Name" type="text" class="form-control" id="Name" placeholder="Jane Doe">
	</div>
	<div class="col-md-6 form-group">
		<label asp-for="Student.ProgramId" class="form-label">Program</label>
		<select asp-for="Student.ProgramId" class="form-select" id="inputProgram">
			<option value="" selected>-------</option>
			@foreach (Program p in Model.Programs)
			{
				<option value="@p.ProgramId">@p.ProgramName</option>
			}
			<!-- Options will be driven from the DB -->
		</select>
	</div>
	<div class="col-md-6 form-group">
		<label asp-for="Student.Level" class="form-label">Level</label>
		<select asp-for="Student.Level" class="form-select" id="Level">
			<option value="" selected>-------</option>
			@for(int i = 1; i <= 6; i++)
			{
				<option value="i">i</option>
			}
			<!-- Options will be driven from the DB -->
		</select>
	</div>

	<input type="hidden" asp-for="Student.StudentId" />

	<div class="col-md-6 mt-3 form-group">
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</div>
</form>