@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4 m-5">Welcome to Study With Condors!</h1>
    <div>
        <a asp-controller="Form" asp-action="Login">Login</a>
        <span> | </span>
        <a asp-controller="Form" asp-action="GetSignUpForm">Sign Up</a>
    </div>
</div>
