@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 m-5">Study With Condors!</h1>
    <div>
        <a>Login</a>
        <span> | </span>
        <a>Sign Up</a>
    </div>
</div>
