@{
    ViewData["Title"] = "Study_Group_Detail Page";
}

<div class="row container">
    <div class="col-md-9">
        <h1 class="display-5 mt-3 mb-2">Study Group Title</h1>
        <h6 class="card-subtitle mb-3 text-body-secondary">Posted on Oct/22/2023</h6>
        <p class="card-text pt-2 pb-2">Hi! We're looking for students to study C# together. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div>
            <span><a href="#" class="card-link">Zoom</a></span>
            <span><a href="#" class="card-link">Discord</a></span>
        </div>
    </div>
    <div class="col-md-3">
        <h6 class="card-subtitle text-body-secondary mt-3 mb-2">Members</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Dany (Leader)</li>
            <li class="list-group-item">Juhwan</li>
        </ul>
    </div>
        

    
</div>