@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="grid row g-2 container" style="--bs-columns: 3;">
    <h1 class="display-6">Find Your Study Groups</h1>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Study Group Title</h5>
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle mb-2 text-body-secondary">Posted on Oct/22/2023</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">2 Members</h6>
            </div>
            <p class="card-text">Hi! We're looking for students to study C# together.</p>
            <a href="#" class="card-link">See Detail</a>
        </div>
    </div>
        <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Study Group Title</h5>
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle mb-2 text-body-secondary">Posted on Oct/22/2023</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">2/3</h6>
            </div>
            <p class="card-text">Hi! We're looking for students to study C# together.</p>
            <a href="#" class="card-link">See Detail</a>
        </div>
    </div>
    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">Study Group Title</h5>
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle mb-2 text-body-secondary">Posted on Oct/22/2023</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">2/3</h6>
            </div>
            <p class="card-text">Hi! We're looking for students to study C# together.</p>
            <a href="#" class="card-link">See Detail</a>
        </div>
    </div>
        <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">Study Group Title</h5>
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle mb-2 text-body-secondary">Posted on Oct/22/2023</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">2/3</h6>
            </div>
            <p class="card-text">Hi! We're looking for students to study C# together.</p>
            <a href="#" class="card-link">See Detail</a>
        </div>
    </div>
</div>
